# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Visual Prolog/Simply expert system/README(not ready).md
Python/VKAPI/vk_bot/.idea/modules.xml
*.name
*.pyc
Python/VKAPI/vk_bot/.idea/dictionaries/Admin.xml
Python/VKAPI/vk_bot/.idea/vk_bot.iml
Python/VKAPI/vk_bot/.idea/workspace.xml
Python/VKAPI/vk_bot/.idea/misc.xml
Python/VKAPI/vk_bot/.idea/vcs.xml
Python/TaskManager/.idea/misc.xml
Python/TaskManager/.idea/modules.xml
Python/TaskManager/.idea/TaskManager.iml
Python/TaskManager/.idea/workspace.xml
Python/VKAPI/vk_bot/vk_config.json
