/****** Object:  Table [dbo].[Doctor]    Script Date: 15.04.2016 16:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Doctor](
	[id_doc] [int] NOT NULL,
	[Doc_Name] [varchar](15) NOT NULL,
	[Doc_Surname] [varchar](15) NOT NULL,
	[Doc_Middle_name] [varchar](15) NULL,
	[Doc_Bday_date] [date] NOT NULL,
 CONSTRAINT [PK_DOCTOR] PRIMARY KEY NONCLUSTERED 
(
	[id_doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Doc_Name] ASC,
	[Doc_Surname] ASC,
	[Doc_Middle_name] ASC,
	[Doc_Bday_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Doctor_Specialty]    Script Date: 15.04.2016 16:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor_Specialty](
	[id_doc_spec] [int] NOT NULL,
	[id_doc] [int] NOT NULL,
	[id_spec] [int] NOT NULL,
 CONSTRAINT [PK_DOCTOR_SPECIALTY] PRIMARY KEY NONCLUSTERED 
(
	[id_doc_spec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patient]    Script Date: 15.04.2016 16:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Patient](
	[id_pat] [int] NOT NULL,
	[Pat_Name] [varchar](15) NOT NULL,
	[Pat_Surname] [varchar](15) NOT NULL,
	[Pat_Middle_name] [varchar](15) NULL,
	[Pat_Bday_date] [date] NOT NULL,
 CONSTRAINT [PK_PATIENT] PRIMARY KEY NONCLUSTERED 
(
	[id_pat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Pat_Name] ASC,
	[Pat_Surname] ASC,
	[Pat_Middle_name] ASC,
	[Pat_Bday_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reception_History]    Script Date: 15.04.2016 16:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reception_History](
	[id_rec_history] [int] NOT NULL,
	[id_pat] [int] NOT NULL,
	[id_doc_spec] [int] NULL,
	[Date_reception] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_RECEPTION_HISTORY] PRIMARY KEY NONCLUSTERED 
(
	[id_rec_history] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Date_reception] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Specialty]    Script Date: 15.04.2016 16:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Specialty](
	[id_spec] [int] NOT NULL,
	[Spec_Name] [varchar](30) NOT NULL,
 CONSTRAINT [PK_SPECIALTY] PRIMARY KEY NONCLUSTERED 
(
	[id_spec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Doctor_Specialty]  WITH CHECK ADD  CONSTRAINT [FK_DOCTOR_S_RELATIONS_DOCTOR] FOREIGN KEY([id_doc])
REFERENCES [dbo].[Doctor] ([id_doc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Doctor_Specialty] CHECK CONSTRAINT [FK_DOCTOR_S_RELATIONS_DOCTOR]
GO
ALTER TABLE [dbo].[Doctor_Specialty]  WITH CHECK ADD  CONSTRAINT [FK_DOCTOR_S_RELATIONS_SPECIALT] FOREIGN KEY([id_spec])
REFERENCES [dbo].[Specialty] ([id_spec])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Doctor_Specialty] CHECK CONSTRAINT [FK_DOCTOR_S_RELATIONS_SPECIALT]
GO
ALTER TABLE [dbo].[Reception_History]  WITH CHECK ADD  CONSTRAINT [FK_RECEPTIO_REFERENCE_DOCTOR_S] FOREIGN KEY([id_doc_spec])
REFERENCES [dbo].[Doctor_Specialty] ([id_doc_spec])
GO
ALTER TABLE [dbo].[Reception_History] CHECK CONSTRAINT [FK_RECEPTIO_REFERENCE_DOCTOR_S]
GO
ALTER TABLE [dbo].[Reception_History]  WITH CHECK ADD  CONSTRAINT [FK_Reception_History_Patient] FOREIGN KEY([id_pat])
REFERENCES [dbo].[Patient] ([id_pat])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reception_History] CHECK CONSTRAINT [FK_Reception_History_Patient]
GO
